{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form method="POST">
    <table>
        <tr>
            <td>Введите пароль</td>
            <td><input type="text" name="old_password"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Confirm_password"></td>
        </tr>
    </table>
</form>