{% extends "layout.jinja2" %}
{% block title %}<title>Главная страница</title>{% endblock %}
{% block content %}

<div class="main-dash">
    {% if current_user.is_authenticated %}
    <article class="dash-cards">
        {% for dashboard in current_user.dashboards %}
        <span>
            <div class="dash-card" data-id="{{ dashboard.id }}">
                <a href="/dashboard/{{ dashboard.id }}">
                    <figure>
                        <img src="#" alt="" class="dash">
                        <p class="dash-text">{{ dashboard.name }}</p>


                        <div id="delete-dashboard-card">
                            <form class="btn-dash-low">
                                <button type="submit" class="btn-dash" id="show-delete-form-btn"><span>X</span></button>
                            </form>

                            <form id="delete-dashboard-form" class="dash-delete-btn"
                                action="/delete_dashboard/{{ dashboard.id }}" method="post"
                                style="display:none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1000;">
                                <div class="form">
                                    <a>Вы уверены?</a>
                                    <span class="form" style="display: flex; flex-direction: row; gap: 10px;">
                                        <button type="submit" value="Удалить" class='btn-form-dash '>Да</button>
                                        <button type="button" id="CancelDeleteDash" class='btn-form-dash'><a href="/"
                                                class="cancel-delete">Отмена</a></button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </figure>
                </a>
                <br />
            </div>
        </span>

        {% endfor %}
        <span>
            <div class="dash-card" id="create-dashboard-card">
                <a href="#" id="show-create-form-btn">
                    <figure>
                        <img src="#" alt="" class="dash">
                        <p class="dash-create-text" id="create-dashboard-text">Создать доску</p>
                    </figure>
                </a>
                <form class="" id="create-dashboard-form" action="/create_dashboard" method="post"
                    style="display:none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1000;">
                    <div class="form">
                        <input type="text" name="name" class="form-field" placeholder="Имя доски" maxlength="14">
                        <button type="submit" value="Создать" class='btn-form-dash'>Создать</button>
                    </div>
                </form>
            </div>

        </span>

    </article>
</div>


{% else %}
<p><a href="/register">Register</a> or <a href="/login">Login</a> to manage your dashboards.</p>
{% endif %}
</div>

<script>
    // JavaScript to toggle the create dashboard form and text
    document.addEventListener('DOMContentLoaded', function () {
        const showCreateFormBtn = document.getElementById('show-create-form-btn');
        const createDashboardForm = document.getElementById('create-dashboard-form');
        const createDashboardText = document.getElementById('create-dashboard-text');

        const showDeleteFormBtn = document.getElementById('show-delete-form-btn');
        const DeleteDashboardForm = document.getElementById('delete-dashboard-form');
        const CancelDeleteDash = document.getElementById('CancelDeleteDash')

        showCreateFormBtn.addEventListener('click', function (event) {
            event.preventDefault();  // Prevent the default action of the anchor tag
            if (createDashboardForm.style.display === 'none' || !createDashboardForm.style.display) {
                createDashboardForm.style.display = 'block';
                createDashboardForm.style.opacity = '1'; // Ensure form is visible
            } else {
                createDashboardForm.style.display = 'none';
                createDashboardForm.style.opacity = '0'; // Hide form
                createDashboardText.textContent = 'Создать доску';
            }
        });

        // Close the form when clicked outside of it
        document.addEventListener('click', function (event) {
            if (!createDashboardForm.contains(event.target) && !showCreateFormBtn.contains(event.target)) {
                createDashboardForm.style.display = 'none';
                createDashboardForm.style.opacity = '0';
                createDashboardText.textContent = 'Создать доску';
            }
        });

        showDeleteFormBtn.addEventListener('click', function (event) {
            event.preventDefault();  // Prevent the default action of the anchor tag
            if (DeleteDashboardForm.style.display === 'none' || !DeleteDashboardForm.style.display) {
                DeleteDashboardForm.style.display = 'block';
                DeleteDashboardForm.style.opacity = '1'; // Ensure form is visible
            } else {
                DeleteDashboardForm.style.display = 'none';
                DeleteDashboardForm.style.opacity = '0'; // Hide form
            }
        });

        // Close the form when clicked outside of it
        document.addEventListener('click', function (event) {
            if (!DeleteDashboardForm.contains(event.target) && !showDeleteFormBtn.contains(event.target)) {
                DeleteDashboardForm.style.display = 'none';
                DeleteDashboardForm.style.opacity = '0';
            }
        });
    });

</script>

{% endblock %}