{% extends "layout.jinja2" %}
{% block title %}<title>Главная страница</title>{% endblock %}
{% block content %}

<div class="main-dash">
    {% if current_user.is_authenticated %}
    <article class="dash-cards">
        {% for dashboard in current_user.dashboards %}
        <span>
            <div class="dash-card" data-id="{{ dashboard.id }}">
                <figure>
                    <img src="#" alt="" class="dash">
                    <a href="/dashboard/{{ dashboard.id }}" class="dash-a-ref">
                        <p class="dash-text">{{ dashboard.name }}</p>
                    </a>


                    <div id="delete-dashboard-card">
                        <form class="btn-dash-low">
                            <button type="button" class="btn-dash" id="show-delete-form-btn"><span>X</span></button>
                        </form>

                        <form id="delete-dashboard-form" class="dash-delete-btn"
                            action="/delete_dashboard/{{ dashboard.id }}" method="post"
                            style="display:none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1000;">
                            <div class="delete-dash-form">
                                <ul class="delete-dash-ul">
                                    <li>
                                        <p style="font-size: 18px;" data-lang="delete_dash">Вы уверены?</p>
                                    </li>
                                    <li>
                                        <svg fill="none" height="64" viewBox="0 0 64 64" width="64">
                                            <path
                                                d="M29 13.5C28.1716 13.5 27.5 14.1716 27.5 15C27.5 15.8284 28.1716 16.5 29 16.5H35C35.8284 16.5 36.5 15.8284 36.5 15C36.5 14.1716 35.8284 13.5 35 13.5H29Z"
                                                fill="black" />
                                            <path
                                                d="M14.5 19C14.5 18.1716 15.1716 17.5 16 17.5H48C48.8284 17.5 49.5 18.1716 49.5 19C49.5 19.8284 48.8284 20.5 48 20.5H16C15.1716 20.5 14.5 19.8284 14.5 19Z"
                                                fill="black" />
                                            <path
                                                d="M17.5 22V44C17.5 47.5899 20.4101 50.5 24 50.5H40C43.5899 50.5 46.5 47.5899 46.5 44V22H43.5V44C43.5 45.933 41.933 47.5 40 47.5H24C22.067 47.5 20.5 45.933 20.5 44V22H17.5Z"
                                                fill="black" />
                                            <path
                                                d="M36 28.5C36.8284 28.5 37.5 29.1716 37.5 30V39C37.5 39.8284 36.8284 40.5 36 40.5C35.1716 40.5 34.5 39.8284 34.5 39V30C34.5 29.1716 35.1716 28.5 36 28.5Z"
                                                fill="black" />
                                            <path
                                                d="M29.5 30C29.5 29.1716 28.8284 28.5 28 28.5C27.1716 28.5 26.5 29.1716 26.5 30V39C26.5 39.8284 27.1716 40.5 28 40.5C28.8284 40.5 29.5 39.8284 29.5 39V30Z"
                                                fill="black" />
                                        </svg>
                                    </li>
                                </ul>
                                <span class=""
                                    style="display: flex; flex-direction: row; gap: 30px; position: relative; left: 17%; margin-top: -30px; margin-bottom: 10px; margin-right:80px;">
                                    <button type="button" id="CancelDeleteDash" class="delete-dash-cancel"><a href="/"
                                            class="dash-a-delete" data-lang="No">Отмена</a></button>
                                    <button type="submit" value="Удалить" class="delete-dash-delete"><span
                                            data-lang="Yes">Да</span></button>
                                </span>
                            </div>


                        </form>
                    </div>
                </figure>
                <br />
            </div>
        </span>

        {% endfor %}
        <span>
            <div class="dash-card" id="create-dashboard-card">
                <a href="#" id="show-create-form-btn">
                    <figure>
                        <img src="#" alt="" class="dash">
                        <p class="dash-create-text" id="create-dashboard-text" data-lang="create_dash">Создать доску</p>
                    </figure>
                </a>
                <form class="" id="create-dashboard-form" action="/create_dashboard" method="post"
                    style="display:none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1000;">
                    <div class="form">
                        <input type="text" name="name" class="form-field" placeholder="Dashboard" maxlength="14">
                        <button type="submit" value="Создать" class='btn-form-dash' data-lang="create_form">Создать</button>
                    </div>
                </form>
            </div>

        </span>

    </article>
</div>


{% else %}
<p><a href="/register">Register</a> or <a href="/login">Login</a> to manage your dashboards.</p>
{% endif %}
</div>

<script>
    const showDeleteFormBtn = document.querySelectorAll('[id=show-delete-form-btn]');
    const DeleteDashboardForm = document.querySelectorAll('[id=delete-dashboard-form]');
    const CancelDeleteDash = document.getElementById('CancelDeleteDash')



    showDeleteFormBtn.forEach((btn, index) => {
        btn.addEventListener('click', () => {
            DeleteDashboardForm[index].style.display = 'block';
            changeLang();
        });
    });

    // JavaScript to toggle the create dashboard form and text
    document.addEventListener('DOMContentLoaded', function () {
        const showCreateFormBtn = document.getElementById('show-create-form-btn');
        const createDashboardForm = document.getElementById('create-dashboard-form');
        const createDashboardText = document.getElementById('create-dashboard-text');


        showCreateFormBtn.addEventListener('click', function (event) {
            event.preventDefault();  // Prevent the default action of the anchor tag
            if (createDashboardForm.style.display === 'none' || !createDashboardForm.style.display) {
                createDashboardForm.style.display = 'block';
                createDashboardForm.style.opacity = '1'; // Ensure form is visible
            } else {
                createDashboardForm.style.display = 'none';
                createDashboardForm.style.opacity = '0'; // Hide form
                if (currentLang == 'ru')
                    createDashboardText.textContent = 'Создать доску';
                else
                     createDashboardText.textContent = 'Create dashboard';
            }
            changeLang();
            checkActiveLangButton();
            checkBrowserLang()
        });

        // Close the form when clicked outside of it
        document.addEventListener('click', function (event) {
            if (!createDashboardForm.contains(event.target) && !showCreateFormBtn.contains(event.target)) {
                createDashboardForm.style.display = 'none';
                createDashboardForm.style.opacity = '0';
                if (currentLang == 'ru')
                    createDashboardText.textContent = 'Создать доску';
                else
                     createDashboardText.textContent = 'Create dashboard';
            }
            changeLang();
            checkActiveLangButton();
            checkBrowserLang()
        });

    });



    const langButtons = document.querySelectorAll("[data-btn]");
    const allLangs = ["ru", "en"];
    const currentPathName = window.location.pathname;
    let currentLang =
        localStorage.getItem("language") || checkBrowserLang() || "ru";
    let currentTexts = {};

    const homeTexts = {
        "header_settings": {
            ru: "настройки",
            en: "settings"
        },
        "header_help": {
            ru: "поддержка",
            en: "help"
        },
        "footer_contacts": {
            ru: "Контакты",
            en: "Contacts"
        },
        "footer_settings": {
            ru: "Настройки",
            en: "Settings"
        },
        "footer_help": {
            ru: "Поддержка",
            en: "Help"
        },
        "pass_change": {
            ru: "Сменить пароль",
            en: "Switch password"
        },
        "lang_change": {
            ru: "Смена языка",
            en: "Switch language"
        },
        "login": {
            ru: "Войти",
            en: "Login"
        },
        "logout": {
            ru: "Выйти",
            en: "Logout"
        },
        "create_dash": {
            ru: "Создать доску",
            en: "Create dashboard"
        },
        "create_from": {
            ru: "Создать",
            en: "Create"
        },
        "delete_dash": {
            ru: "Вы уверены?",
            en: "Are you sure?"
        },
        "Yes": {
            ru: "Да",
            en: "Yes"
        },
        "No": {
            ru: "Отмена",
            en: "Cancel"
        },


    }

    function checkPagePathName() {
        switch (currentPathName) {
            case "/layout.html":
                currentTexts = homeTexts;
                break;


            default:
                currentTexts = homeTexts;
                break;
        }
    }
    checkPagePathName();

    // Изменение языка у текстов
    function changeLang() {
        for (const key in currentTexts) {
            let elem = document.querySelector(`[data-lang=${key}]`);
            if (elem) {
                elem.textContent = currentTexts[key][currentLang];
            }
        }
    }
    changeLang();

    // Вешаем обработчики на каждую кнопку
    langButtons.forEach((btn) => {
        btn.addEventListener("click", (event) => {
            if (!event.target.classList.contains("_btn_active")) {
                currentLang = event.target.dataset.btn;
                localStorage.setItem("language", event.target.dataset.btn);
                resetActiveClass(langButtons, "_btn_active");
                btn.classList.add("_btn_active");
                changeLang();
            }
        });
    });

    // Сброс активного класса у переданного массива элементов
    function resetActiveClass(arr, activeClass) {
        arr.forEach((elem) => {
            elem.classList.remove(activeClass);
        });
    }

    // Проверка активной кнопки
    function checkActiveLangButton() {
        switch (currentLang) {
            case "ru":
                document
                    .querySelector('[data-btn="ru"]')
                    .classList.add("_btn_active");
                break;
            case "en":
                document
                    .querySelector('[data-btn="en"]')
                    .classList.add("_btn_active");
                break;

            default:
                document
                    .querySelector('[data-btn="ru"]')
                    .classList.add("_btn_active");
                break;
        }
    }
    checkActiveLangButton();

    // Проверка языка браузера
    function checkBrowserLang() {
        const navLang = navigator.language.slice(0, 2).toLowerCase();
        const result = allLangs.some((elem) => {
            return elem === navLang;
        });
        if (result) {
            return navLang;
        }
    }
    console.log("navigator.language", checkBrowserLang());



</script>
<script src="{{ url_for('static', filename='js/dark-theme.js') }}"></script>


{% endblock %}