<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='UTF=8'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="login-body">


    {% for category, message in get_flashed_messages(with_categories=True) %}
    <label>
        <input type="checkbox" class="alertCheckbox" autocomplete="off" />
        <div class="alert error">
            <span class="alertClose">X</span>
            <span class="alertText">{{message}}
                <br class="clear" /></span>
        </div>
    </label>
    {% endfor %}

    <form method="POST">
        <div class="container">
            <div class="left">
                <div class="header">
                    <h2>Добро пожаловать</h2>
                    <h4>Войдите в аккаунт, используя логин и пароль</h4>
                </div>
                <div class="form">
                    <input type="email" name='email' class="form-field" placeholder="Почта">
                    <input type="login" name='login' class="form-field" placeholder="Лоигн">
                    <input type="password" name='password' class="form-field" placeholder="Пароль">
                     <nav>
                        <ul class = 'login-change'>
                            <li><a href="/login" class = "text-black">Регистрация</a></li>
                            <li><a href="#" class = "text-black">Забыл пароль</a></p></li>
                        </ul>

                    </nav>
                    <button type="submit" value="login">Войти</button>
                </div>
            </div>
            <div class="right"></div>
        </div>
    </form>
</html>