<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='UTF=8'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="login-body">


    {% for category, message in get_flashed_messages(with_categories=True) %}
    <label>
        <input type="checkbox" class="alertCheckbox" autocomplete="off" />
        <div class="alert error">
            <span class="alertClose">X</span>
            <span class="alertText">{{message}}
                <br class="clear" /></span>
        </div>
    </label>
    {% endfor %}

    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="container">
            <div class="left">
                <div class="header">
                    <h2>Добро пожаловать</h2>
                    <h4>Войдите в аккаунт, используя логин и пароль</h4>
                </div>
                <div class="form">
                    {% for field in form if field.name not in ['csrf_token', 'remember', 'submit'] -%}
                        {{field.label() }}
                        {% if field.errors %}
                            {{ field }}
                            {% for error in field.errors %}
                            {{ error }}
                            {% endfor %}
                        {% else %}
                             {{ field() }}
                        {% endif %}
                    {% endfor %}
                     <nav>
                        <ul class = 'login-change'>
                            <li><a href="/register" class = "text-black">Регистрация</a></li>
                            <li><a href="/reset_password" class = "text-black">Забыл пароль</a></p></li>
                        </ul>

                    </nav>
                    {{ form.submit() }}
                </div>
            </div>
            <div class="right"></div>
        </div>
    </form>
</html>