<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    

    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="container">
            <div class="left">
                <div class="header">
                    <h2>Добро пожаловать</h2>
                    <h4>Зарегистрируйтесь, используя почту и пароль</h4>
                </div>
                <div class="form">
                    {% for field in form if field.name not in ['csrf_token', 'remember', 'submit'] -%}
                        {{field.label(class='form-label') }}
                        {% if field.errors %}
                            {{ field(class = 'form-field') }}
                            {% for error in field.errors %}
                            {{ error }}
                            {% endfor %}
                        {% else %}
                             {{ field(class = 'form-field') }}
                        {% endif %}
                    {% endfor %}
                    <nav>
                        <ul class = 'login-change'>
                            <li><a href="/login" class = "text-black">Зарегестрирован</a></li>
                        </ul>
                    </nav>

                    <button type="submit" value="login">Регистрация</button>
                </div>
            </div>
            <div class="right"></div>
        </div>
    </form>
</body>

</html>