<div>
    <form method="POST">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>Reset Password</legend>
            <div>
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div>
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div>
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>