<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='UTF=8'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

{% for error in form.email.errors %}
<label>
    <input type="checkbox" class="alertCheckbox" autocomplete="on" />
    <div class="alert error">
        <span class="alertClose">X</span>
        <span class="alertText">{{ error }}
            <br class="clear" /></span>
    </div>
</label>
{% endfor %}



<form method="POST">
    <div class="container">
        <div class="left">
            <div class="header">
                <h2>Смена пароля</h2>
                <h4>Введите вашу почту</h4>
            </div>
            {{ form.hidden_tag() }}
            <div class="form">

                {% if form.email.errors %}
                {{ form.email(class="form-control form-control-lg is-invalid form-field") }}
                
                {% else %}
                {{ form.email(class="form-control form-control-lg form-field") }}
                {% endif %}
                <button type="submit" value="email">Сменить пароль</button>
            </div>

        </div>
    </div>
</form>

<!--
<form method="POST">
 {{ form.hidden_tag() }}
        <div class="container">
            <div class="left">
                <div class="header">
                    <h2>Смена пароля</h2>
                </div>
                {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                <div class="left">
                    <input type="email" name='email' class="form-field" placeholder="Почта">
                    <button type="submit" value="email" class="form-field">Сменить пароль</button>
                </div>
                
            </div>
        </div>
    </form>
    -->