{% extends "layout.jinja2" %}
{% block title %}<title>Главная страница</title>{% endblock %}
{% block content %}

<div class = "main-dash">
    {% for dashboard in current_user.dashboards %}
    <article>
        <a href="/dashboard/{{ dashboard.id }}"><h2>{{ dashboard.name }}</h2></a>
    </article>
    {% endfor %}

    <form action="/create_dashboard" method="post">
        <input type="text" name="name" placeholder="Dashboard name">
        <input type="submit" value="Create Dashboard">
    </form>

    <!-- Add delete dashboard form for each dashboard -->
    {% for dashboard in current_user.dashboards %}
        <form action="/delete_dashboard/{{ dashboard.id }}" method="post">
            <button type="submit">Delete {{ dashboard.name }}</button>
        </form>
    {% endfor %}

</div>
{% endblock %}