<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    {% for category, message in get_flashed_messages(with_categories=True) %}
    <label>
        <input type="checkbox" class="alertCheckbox" autocomplete="off" />
        <div class="alert error">
            <span class="alertClose">X</span>
            <span class="alertText">{{message}}
                <br class="clear" /></span>
        </div>
    </label>
    {% endfor %}

    <form method="POST">
        <div class="container">
            <div class="left">
                <div class="header">
                    <h2 class="animation a1">Добро пожаловать</h2>
                    <h4 class="animation a2">Зарегистрируйтесь, используя логин и пароль</h4>
                </div>
                <div class="form">
                    <input type="login" name='login' class="form-field animation a3" placeholder="login">
                    <input type="password" name='password' class="form-field animation a4" placeholder="password">
                    <input type="password" name='password2' class="form-field animation a4" placeholder="password">
                    <p class="animation a5"><a href="#">Забыл пароль</a></p>
                    <button class="animation a6" type="submit" value="login">Регистрация</button>
                </div>
            </div>
            <div class="right"></div>
        </div>
    </form>
</body>

</html>